html,
body {
  width: 300px;
}

.anotherBlank {
  height: 70px;
}

.blankDiv {
  height: 50px;
}

.date {
  color: rgb(94, 93, 93);
  font-size: 12px;
  font-weight: normal;
}

.entry {
  background-color: rgb(255, 253, 227);
  border-color: lightslategray;
  border-style: hidden hidden solid hidden;
  border-width: 2px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  width: 100%;
}

.price {
  grid-column: 1 / 2;
  height: 50px;
}

.price_text {
  color: goldenrod;
  font-size: 26px;
  font-weight: bold;
  margin: 10px auto;
  text-align: center;
}

.text {
  grid-column: 2 / 3;
  text-align: center;
}

.text p {
  margin: 5px auto;
}

.title {
  background-color: rgb(85, 85, 110);
  color: rgb(173, 173, 173);
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.title h1 {
  margin: 0 auto;
}

.total {
  background-color: white;
  border-style: solid hidden hidden hidden;
  border-width: 2px;
  font-size: 22px;
  font-weight: normal;
  height: 70px;
  text-align: right;
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  width: 80%;
}

.web {
  color: black;
  font-size: 16px;
  font-weight: normal;
}